	<div class="jumbotron">
		<h3>{{app}}</h3>

		<!-- Bloco tratando a parte de Diretiva para erro com o backend
			<ui-alert title="Ops, aconteceu um problema!" message="error">
			</ui-alert>
		-->

		
		<!--Bloco tratando o uso de Accordion
		<ui-accordions>
			<ui-accordion title="Primeiro Accordion">
				Teste de conteudo do primeiro accordion
			</ui-accordion>

			<ui-accordion title="Segundo Accordion">
				Teste de conteudo do segundo accordion
			</ui-accordion>	
		</ui-accordions> -->

		<input type="text" class="form-control" ng-model="criterioDeBusca" placeholder="O que você está buscando ?"/>
		<table ng-show="contatos.length > 0" class="table table-striped">
			<tr>
				<th></th>				
				<th>Serial</th>
				<th><a href="" ng-click="ordernarPor('nome')">Nome</a></th>
				<th><a href="" ng-click="ordernarPor('telefone')">Telefone</a></th>
				<th>Operadora</th>
				<th>Data</th>
			</tr>

			<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca |orderBy:criterioDeOrdenacao:direcaoOrdenacao">
				<td><input type="checkbox" ng-model="contato.selecionado"/></td>		
				<td>{{contato.serial}}</td>		
				<td><a href="#/detalhesContato/{{contato.id + 1}}">{{contato.nome | name | ellipsis:10}}</a></td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td>{{contato.data | date:'dd/MM/yyyy'}}</td>
			</tr>

			<!-- Outro metodo para repetição usando o objeto
			<tr ng-repeat="contato in contatos">
				<td ng-repeat="(key,value) in contato">
					{{value}}
				</td>
			</tr>-->
		</table>

		<a href="#/novoContato" class="btn btn-primary btn-block"> Novo Contato </a>

	</div>